    <section id="hero">
      <img src="../assets/hero.jpg" class="img--bg" alt="Background poster" />

      <h1 class="hero__title">no excuses!</h1>
      <h2 class="hero__subtitle">get fit now</h2>

      <a href="" class="member__btn">
        get started >
      </a>
    </section>

    <div class="divider"></div>

    <section id="weights" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Free Weights</h2>
        <p class="info__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil saepe deleniti ipsa dignissimos totam.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="../assets/hero.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>

    <section id="machines" class="info section">
      <div class="info__wrapper">
        <h2 class="info__title">Machines</h2>
        <p class="info__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil saepe deleniti ipsa dignissimos totam.
        </p>

        <div class="info__buttons">
          <button class="info__button edit">Edit</button>
          <button class="info__button delete">Delete</button>
        </div>
      </div>

      <img class="info__poster" src="../assets/hero.jpg" alt="Section poster" />
    </section>

    <div class="divider"></div>