/*@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./components.css");

:root {
    --color-primary: #ffdd4d;
    --color-light-yellow: #ffec9c;
    --color-white: #fff;
    --color-dark-gray: #222222;
    --color-black: black;
    --color-grey: #303030;
    /*
    --shadow-base: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
      */
}

html, body {
    background-color: var(--color-grey);
}