<header class="header">

  <div class="header__wrapper">
    <a href="/">
      <img src="../assets/logo.png" class="header__logo" alt="Logo" />
    </a>
    <nav class="header__navigation">
      <!-- <div id="guest">
          <a href="/users/login" class="btn">Sign in</a>
          <a href="/users/login" class="btn">Log in</a>
        </div> -->

      <!--<div id="user">
          <a href="/users/login" class="btn">Classes</a>
          <a href="/users/login" class="btn">Exercises</a>
          <a href="/users/login" class="btn">Products</a>
          <a href="/users/login" class="btn"><i class="fab fa-instagram"></i></a>
        </div> -->

      <div id="admin">
        <a href="/users/login" class="btn">Activities</a>
        <a href="/users/login" class="btn">Applicants</a>
        <a href="/users/login" class="btn">Classes</a>
        <a href="/users/login" class="btn">Exercises</a>
        <a href="/users/login" class="btn">Products</a>
        <a href="/users/login" class="basket btn"><i class="fas fa-shopping-basket"></i></a>
      </div>

      <!-- <div id="admin" class="navigation__container">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/users/login" class="btn">Activites</a>
            </li>
            <li class="navigation__item">
              <a href="/users/login" class="btn">Applicants</a>
            </li>
            <li class="navigation__item">
              <a href="/users/login" class="btn">Classes</a>
            </li>
            <li class="navigation__item">
              <a href="/users/login" class="btn">Exercises</a>
            </li>
            <li class="navigation__item">
              <a href="/users/login" class="btn">Products</a>
            </li>
            <li class="navigation__item">
              <a href="/users/login" class="basket btn"><i class="fas fa-shopping-basket"></i></a>
            </li>
          </ul>
        </div>-->

    </nav>
  </div>
</header>