<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td>
                <img src="{{ tempProduct.imageUrl }}" height="50">
            </td>
            <td style="text-align:center;">{{ tempProduct.name }}</td>
            <td style="text-align:center;">{{ tempProduct.unitPrice | currency:'USD' }}</td>
            <td style="text-align:center;">{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table>